<!DOCTYPE html>
<html>
<head>
    <title>Wordbucket Settings</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <link rel="stylesheet" href="../lib/bulma.min.css">
    <script src="../lib/vue.js"></script>
</head>
<body>
    
    <div id="app">
        <section class="section">
            <div class="container">
                <div class="columns is-mobile">
                    <div class="column is-8 is-offset-2">
                        <div class="card">
                            <div class="card-content">
                                <nav class="level is-mobile">
                                    <div class="level-item has-text-centered">
                                        <div>
                                            <p class="heading">Wordbucket</p>
                                            <p class="title">Chrome Extension Options</p>
                                        </div>
                                    </div>
                                </nav>
                                <div class="field is-horizontal">
                                    <div class="field-label is-normal">
                                        <label class="label">Facebook Account</label>
                                    </div>
                                    <div class="field-body">
                                        <div class="control">
                                            <a class="button is-link" target="_blank" v-show="!settings.user.id" href="https://www.facebook.com/dialog/oauth?client_id=1764871037166841&response_type=token&scope=email&redirect_uri=http://www.facebook.com/connect/login_success.html">
                                                <span class="icon is-small"><i class="material-icons">settings_applications</i></span>
                                                <span>Login with fb</span>
                                            </a>
                                            <button class="button is-text" v-show="settings.user.id">{{name}}</button>
                                            <button class="button" v-show="settings.user.id" @click="logout">
                                                <span class="icon is-small"><i class="material-icons">power_settings_new</i></span>
                                                <span>Log out</span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="field is-horizontal">
                                    <div class="field-label is-normal">
                                        <label class="label">Suggestion Limit</label>
                                    </div>
                                    <div class="field-body">
                                        <div class="control">
                                            <div class="select">
                                                <select v-model="settings.suggestionLimit">
                                                    <option v-for="number in numbers" :value="number">{{number}}</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="field is-horizontal">
                                    <div class="field-label">
                                        <label class="label">Enable inline?</label>
                                    </div>
                                    <div class="field-body">
                                        <div class="field is-narrow">
                                            <div class="control">
                                                <label class="radio">
                                                    <input type="radio" name="inline" :value="true" v-model="settings.inlineEnbaled"> Yes
                                                </label>
                                                <label class="radio">
                                                    <input type="radio" name="inline" :value="false" v-model="settings.inlineEnbaled"> No
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="field is-horizontal is-grouped">
                                    <div class="field-label is-normal"></div>
                                    <div class="field-body">
                                        <div class="buttons">
                                            <button class="button is-link" @click="save"><span class="icon is-small"><i class="material-icons">save</i></span><span>Submit</span></button>
                                            <button class="button is-white" @click="reset"><span class="icon is-small"><i class="material-icons">refresh</i></span><span>Reset</span></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="columns" v-show="showNotification">
                    <div class="column is-8 is-offset-2">
                        <article class="message is-success">
                            <div class="message-header">
                                <p>Success</p>
                                <!-- <button class="delete" aria-label="delete"></button> -->
                            </div>
                            <div class="message-body">
                                Setting updated...
                            </div>
                        </article>
                    </div>
                </div>
            </div>

        </section>
    </div>
    
    <script src="./options.js"></script>
</body>
</html>